#header{
  text-align: center;
  text-decoration: 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-style: solid;
  justify-items: stretch;
  padding: 1rem;
  grid-gap:0.5rem
}

.grid-item{
  border-style: solid;
  
}

#singleReviewImg{
  max-height:400px
}